.grid-container {
    display: grid;
    background-color: skyblue;
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: minmax(30px, auto) minmax(30px, 70px) minmax(30px, 70px); */
}

.grid-item {
    background-color: salmon;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    padding: 25px;
}