.grid-container {
    display: grid;
    /* display: inline-grid; */
    /* column-gap: 40px; */
    /* row-gap: 30px; */
    /* gap: 40px 100px; /* gap: row column */
    gap: 20px;
    grid-template-columns: auto auto auto auto;
    /* grid-template-columns: repeat(3, auto); */

    background-color: skyblue;
    padding: 20px;
}

.grid-item {
    background-color: salmon;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    padding: 25px;

}


/* .first-item {
    grid-column-start: 1;
    grid-column-end: 5;

} */

.first-item {
    grid-row-start: 1;
    grid-row-end: 4;
}