* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: #FF4A52;
}

li {
    list-style: none;
    cursor: pointer;
    transition: color .2s;
}

li:hover {
    color: #FF4A52;
}

ul {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex !important;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50%;
}

.row {
    width: 100%;
    display: flex;
}

.font-15 {
    font-size: 15px;
}


header {
    background-color: #ffffff;
    justify-content: space-around;
    padding: 25px 0;
    position: relative;
}

nav li {
    display: none;
    margin-right: 35px;
    font-size: 1.3em;
    margin-top: 13px;
}

.search-icon {
    justify-content: center;
    align-items: center;
}

.search-icon a {
    color: black;
}

.drop-down-menu a {
    color: black;
}


.slider {
    width: 100%;
    background-image: url('../images/banner2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
}

.slider-text {
    justify-content: space-around;
    align-items: center;
    height: 45vw;
    flex-direction: column;
}

.slider-text h3 {
    font-size: 8vw;
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    color: white;
    line-height: 10vw;
}

.slider-text p {
    font-size: 2.5vw;
    font-weight: 400;
    color: white;
}

.slider-btn {
    background-color: #1ec6b6;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1.7vw;
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 1vw 1.5vw;
    transition: background-color .3s;
}

.slider-btn:hover {
    background-color: #FF4A52;
    color: white !important;
}

.search-bar {
    background-color: #040e27;
    flex-direction: column;
    padding: 20px 25px;
    align-items: center;
}

.search-form {
    flex-direction: column;
    align-items: center;
    width: 80%;
}

input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid #363e52;
    border-radius: 5px;
    margin: 10px 10px;
    padding: 17px 50px;
    color: white;
}

.search-btn {
    background-color: #FF4A52;
    color: white;
    padding: 17px 39px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #1ec6b6;
    color: white !important;
}

.search-bar h3 {
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.popular-heading {
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.popular-title {
    font-size: 38px;
    font-weight: 400;
    color: #040e27;
    margin: 10px;
}

.popular-description {
    font-size: 16px;
    color: #7A838B;
    line-height: 30px;
    font-weight: 400;
}