* {
    margin: 0 auto;
    font-size: 14px;
    font-family: 'Encode Sans Expanded', sans-serif;
    color: #333;
}

.clear-fix {
    clear: both;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
}

.title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #ccc;
}

.title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 80px;
    height: 5px;
    background: #F9B500;
    z-index: 1;
}

.article-title {
    padding-top: 20px;
}

.article-title a {
    font-size: 20px;
    font-weight: 700;
}

.info-bar {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.info-bar li {
    display: inline-block;
    margin-right: 20px;
    line-height: 25px;
}

.text-muted {
    color: #888;
}

.text-yellow {
    color: #F9B500;
}

a {
    text-decoration: none;
    transition: all .2s;
}

b {
    font-weight: 700;
    transition: all .2s;
}

a:hover {
    color: #F9B500;
}

a:hover>b {
    color: #F9B500;
}

.app {
    width: 1200px;
}

@media (max-width:1199.98px) {
    .app {
        width: 992px;
    }
}

@media (max-width:991.98px) {
    .app {
        width: 768px;
    }
}

@media (max-width:767.98px) {
    .app {
        width: 576px;
    }
}

@media (max-width:575.98px) {
    .app {
        width: calc(100% - 30px);
        padding: 0 15px;
    }
}

.header-logo {
    float: left;
    margin: 30px 0;
}

.header-menu {
    float: right;
}

.header-menu-item {
    display: inline;
}

.header-menu-item-link {
    padding: 0 15px;
    line-height: 80px;
    font-weight: 700;
    color: #333 !important;
}

.header-menu-burger {
    float: right;
    display: none;
    background-color: white;
    border: none;
    line-height: 80px;
}

.show {
    display: inline-block !important;
}

@media (max-width:991.98px) {
    .header-logo {
        height: 15px;
        margin: 32px 0;
    }

    .header-menu-item-link {
        padding: 0 5px;
    }
}

@media (max-width:767.98px) {
    .header-menu-burger {
        display: inline-block;
    }

    .header-menu {
        display: none;
        width: 100%;
    }

    .header-menu-item {
        display: block;
        border-bottom: 1px solid #cecece;
    }
}

.intro-row {
    width: 100%;
}

.intro-h-600px {
    height: 600px;
}

.intro-h-100 {
    height: 100%;
}

.intro-h-2-3 {
    height: calc(200%/3);
}

.intro-h-1-3 {
    height: calc(100%/3);
}

.intro-h-50:first-of-type {
    margin-bottom: 10px
}

.intro-h-50 {
    height: calc(50% - 5px);
}

.intro-2-3-col {
    float: left;
    margin-right: 10px;
    width: calc(calc(200%/3) - 10px);
}

.intro-1-3-col {
    float: right;
    width: calc(100%/3);
}

.intro-1-3-item {
    width: 100%;
}

.intro-1-3-col-item {
    float: left;
    width: calc(100%/3);
}

.intro-1-3-col-item:nth-of-type(2) {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(calc(100%/3) - 20px);
}

.bg-1 {
    background: url("../images/slider-1-1200x900.jpg") no-repeat center;
    background-size: cover;
}

.bg-2 {
    background: url("../images/slider-2-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-3 {
    background: url("../images/slider-3-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-4 {
    background: url("../images/slider-4-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-5 {
    background: url("../images/slider-5-450x600.jpg") no-repeat center;
    background-size: cover;
}

.bg-6 {
    background: url("../images/slider-6-450x600.jpg") no-repeat center;
    background-size: cover;
}

.intro-item-caption {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.caption-title {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.caption-title span {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.caption-title b {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

.caption-info-bar {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.caption-info-bar li {
    display: inline-block;
    margin-right: 20px;
    color: #ffffff;
}